# App
NEXT_PUBLIC_APP_NAME=NovaBank Digital
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase Client
# Ambil dari Supabase Dashboard > Project Settings > API / Data API.
NEXT_PUBLIC_SUPABASE_URL=https://thtftiaxzgappbclbkim.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRodGZ0aWF4emdhcHBiY2xia2ltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMDM0MzIsImV4cCI6MjA5NTU3OTQzMn0.AfO3q24cFr3_coVIT_qIjp22nbMvhGptibp5jLsyyO0

# Auth
AUTH_SECRET=GirWkyPX98npKUFWTR7Xs5DX+Llkev/paxm8xQqsamc=
AUTH_SESSION_MAX_AGE=86400

# Database
# Ambil dari Supabase Dashboard > Connect > Connection string.
DATABASE_URL=postgresql://postgres:9DwhdZfHE%26-5J%2Bu@db.thtftiaxzgappbclbkim.supabase.co:5432/postgres

# Backend Only
# Jangan pakai service role key di frontend/client.
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRodGZ0aWF4emdhcHBiY2xia2ltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDAwMzQzMiwiZXhwIjoyMDk1NTc5NDMyfQ.F2tn6fSith-U9OLP2LVnLt_BBhwLTjwV7XgsAdjPkBA
